@{
    ViewBag.Title = "Quản lý nhân viên";
}
<div class="container">
    <div class="text-center">
        <h3>Bạn không có quyền chỉnh sửa nhân viên!</h3>
        <button>
            <a href="~/Home/Index">Về trang chủ</a>
        </button>
    </div>
</div>
